<div>
  <div class="modal-body bg-peach w-75 my-5 mx-auto rounded">
    <form id="login-form">
      <div class="form-group">
        <label for="exampleInputEmail1">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="InputEmail"
          aria-describedby="emailHelp"
          placeholder="Enter Email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="Password"
          placeholder="Password"
        />
      </div>
      <div class="text-center">
        <button
          type="submit"
          class="btn btn-outline-dark text-light m-5 bg-pink"
        >Login</button>
        <a type="button" href="/signup">can't login? sign up here</a>
      </div>
    </form>
  </div>
</div>

<script src="/public/login.js"></script>